.section {
  width: 91.66667%;
  margin: auto;
  display: flex;
  background-color: #f5f5f5;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.sidebar_section {
  position: sticky;
  width: 50px;
  margin-top: 18%;
  border-radius: 50%;
}


@media screen and (min-width: 800px) {
  .sidebar_section {
    width: 335px;
    margin-top: 0;
  }
}

