/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #F6F6F5;
    scroll-behavior: smooth;
}
@media screen and (max-width:800px){
  
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.cursor-pointer{
      cursor: pointer;
}
.borderr{
    border: 3px solid rgba(0, 0, 0, 0.3);
  }
.pl_3{
     padding-left: .75rem;
}
.pt-3{
    padding-top: .75rem;
}
.font_500{
    font-weight: 500;
}
.font_600{
     font-weight: 600;
}


@media screen and (max-width:800px) {
        .add_padding{
                 padding-top: 62.438px;
        }
}